/*-----links-----*/
$link-color: white;
/*-----jumbotron and cards-----*/
$card-bg: $color-bg-elements;
/*-----buttons-----*/
$primary:  rgba(158, 132, 92, 0.822);
$btn-border-radius: 10px;
/*-----color nav and footer-----*/
$dark: #222222;
/*-----spacers-----*/
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 5),
    7: ($spacer * 7),
    8: ($spacer * 10)
  ),
  $spacers
);