/*-----body-----*/
$body-bg: rgb(204, 192, 174);
/*-----links-----*/
$link-color: white;
/*-----cards-----*/
$card-bg: rgb(180, 157, 118);
/*-----buttons-----*/
$danger: rgba(126, 104, 71, 0.822);
$btn-border-radius: 10px;

