.jumbotron__accueil-css {
    background-color: $color-bg-elements;
    box-shadow: $box-shadow;
    border-radius: 15px;
}

.card__css-accueil {
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.03);
    }
}

.card__css-accueil img {
    transition: transform 0.3s ease-in-out;
    filter: sepia(0);
}

.card__css-accueil:hover img {
    filter: sepia(75%);
}