.card {
    overflow: hidden;
    img {
        border-radius: 0px 20px 0 0;
    }    
}

.title__coup-de-coeur {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin-top: 4rem;
}
