.form-control__css {   
    box-shadow: $box-shadow;
}

.invalid-feedback__css {
    font-size: 13px;
    color: rgba(90, 61, 16, 0.8);
}

.cache-formulaire {
    display: none;
}

.jumbotron__panier-css {
    background-color: $color-bg-elements;
    box-shadow: $box-shadow;
    border-radius: 15px;
    font-size: 40px;
}


    
