.header__css {
    height: 100%;
    margin-top: 72px;
    background-image: url("../pictures/header-paysage.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.overlay__css {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%; 
    height: 100%;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .header__css {
        background-image: url("../pictures/header-portrait.jpg");
    }
}